<app-modal *ngIf="showAutoLogoutWarning" title="Auto Logout Warning" (onCancelled)="removeAutoLogoutWarning()"
  btnCancelTitle="Fine!">
  <p>
    You will be logged out in {{autoLogoutSeconds}} {{autoLogoutSeconds > 1 ? 'seconds' : 'second'}}
  </p>
</app-modal>
<!-- <app-header
  (onNavigatedToRecipes)="onNavigatedToRecipes()"
  (onNavigatedToShoppingList)="onNavigatedToShoppingList()"
></app-header> -->
<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
      <!-- <app-recipes *ngIf="selectedMenuItem === RECIPES_MENU_ITEM"></app-recipes>
      <app-shopping-list
        *ngIf="selectedMenuItem === SHOPPING_LIST_MENU_ITEM"
      ></app-shopping-list> -->
    </div>
  </div>
</div>
