/* You can add global styles to this file, and also import other style files */
:root {
  --border: 1px solid #999;
  --box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

  --background-colour-light: #f1f1f1;
  --spinner-colour: #252063;
}

hr {
  border-color: darkgray;
}

a {
  cursor: pointer;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}
