<div class="row">
  <div class="col-xs-12">
    <form #shoppingListForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <!-- <input type="text" id="name" class="form-control" #nameInput /> -->
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            ngModel
            #name="ngModel"
            required
            [ngModel]="selectedIngredient.name"
          />
          <p *ngIf="!name.valid && name.touched" class="help-block">
            Please enter the name
          </p>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <!-- <input type="number" id="amount" class="form-control" #amountInput /> -->
          <input
            type="number"
            id="amount"
            name="amount"
            class="form-control"
            ngModel
            #amount="ngModel"
            required
            [min]="1"
            [pattern]="getIngredientAmountPattern()"
            [ngModel]="selectedIngredient.amount"
          />
          <p *ngIf="!amount.valid && amount.touched" class="help-block">
            Please enter an amount greater than 0
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <!-- <button
            class="btn btn-success"
            type="submit"
            (click)="onAddIngredient()"
          >
            Add
          </button> -->
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!shoppingListForm.valid"
          >
            {{ editMode ? "Update" : "Add" }}
          </button>
          <button
            class="btn btn-danger"
            type="button"
            *ngIf="editMode"
            (click)="onDelete()"
          >
            Delete
          </button>
          <button class="btn btn-primary" type="button" (click)="clearForm()">
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
