<app-loading *ngIf="isBusy"></app-loading>
<app-error *ngIf="errorMsg">{{errorMsg}}</app-error>

<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row" *ngIf="inSignUpMode()">
        <app-form-item [formGroup]="form" label="First Name" inputName="firstName" autocomplete="given-name">
          <p class="help-block" *ngIf="isFormControlInvalid('firstName')">
            Please enter a first name
          </p>
        </app-form-item>
      </div>
      <div class="row" *ngIf="inSignUpMode()">
        <app-form-item [formGroup]="form" label="Last Name" inputName="lastName" autocomplete="family-name">
          <p class="help-block" *ngIf="isFormControlInvalid('lastName')">
            Please enter a last name
          </p>
        </app-form-item>
      </div>
      <div class="row">
        <app-form-item [formGroup]="form" label="Email" inputName="email" autocomplete="email" inputType="email">
          <p class="help-block" *ngIf="isFormControlInvalid('email')">
            Please enter an email address
          </p>
        </app-form-item>
      </div>
      <div class="row">
        <app-form-item [formGroup]="form" label="Password" inputName="password" autocomplete="current-password"
          inputType="password">
          <p class="help-block" *ngIf="isFormControlInvalid('password')">
            Password is required and must be at least 6 characters
          </p>
        </app-form-item>
      </div>
      <div class="row" *ngIf="inSignUpMode()">
        <app-form-item [formGroup]="form" label="Confirm Password" inputName="confirmPassword"
          autocomplete="current-password" inputType="password">
          <p class="help-block" *ngIf="isFormControlInvalid('confirmPassword')">
            Passwords do not match
          </p>
        </app-form-item>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3 form-group btn-group">
          <button class="btn btn-primary" type="submit" [disabled]="!form.valid">{{ getLoginButtonCaption() }}</button>
          <button class="btn btn-info" type="button"
            (click)="btnSwitchToClick()">{{ getSwitchToButtonCaption() }}</button>
        </div>
      </div>
    </form>
  </div>
</div>
